# Don't you dare!
# One does not simply "git add" build artifacts...
/out
/pdf
/final
/result
*.pdf
!media/*.pdf

# TODO: Is this still required?
auto/

# Just in case (not everyone knows how to use make...)
# Ignores all auxiliary files from LaTeX
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.toc
*.out
*.synctex.gz

# Editor files (Vim, Emacs and others)
*.swp
*~

# OS specific files (Windows & macOS)
Thumbs.db
*.DS_Store

# These files are only needed for the built process and generated
src/envGitCommit.tex
src/env.tex
